/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body */
body {
  text-transform: capitalize;
  background-color: #10315c;
  color: #fefff6;
  font-family: "Montserrat", sans-serif;
}
/* header */
header {
  background: #fefff6;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
nav {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.nav-link {
  color: #42c4c0;
  text-decoration: none;
}

.logo {
  line-height: 3em;
  color: #fefff6;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  padding: 0 20px;
  line-height: 2.3em;
}

a .logo {
  font-size: 3em;
}
.nav-menu {
  display: flex;
  margin-right: 20px;
  list-style: none;
}
.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  width: max-content;
}

.nav-menu-link {
  padding: 0.5em 0.5em;

  color: #fefff6;
  font-size: 1.2em;
}

.nav-link:hover {
  border-radius: 0.3em;
  background-color: #42c4c0;
  transition: 0.5s;
}

.nav-toggle {
  color: #42c4c0;
  background: none;
  border: none;
  font-size: 20px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer;

  transition: 0.4s;
}

/* contenido main */

main img {
  padding: 4em 2em 1em;
  width: 80%;
  margin: 0.5em 3em;
}

.titulo-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5em 0.5em;
}
.boton-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido-boton {
  margin: 0.5em;
  padding: 0.5em;
  align-items: center;
  color: #fefff6;
  text-decoration: none;

  background-color: #42c4c0;
  border-radius: 0.3em;
  font-weight: bold;
}

/* contenido about */

#about {
  padding: 1em;
}
section img {
  width: 20em;
}
.about-container {
  padding: 1em;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* contenido skill */
#skill {
  padding: 1em;
}
.title-skill {
  margin: 0.21em;
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
}
.skill-container {
  padding: 2em;
  display: flex;
  justify-content: space-around;
  margin: 0 0.7em;
  background: #fefff6;
  transition: 0.5s;
  cursor: pointer;
  color: #fefff6;
  border-radius: 0.3em;
}
.skill-content:hover {
  padding: 0 0.2em;
  transition: 0.3s;
}

.skill-content h2 {
  background: #10315c;
  font-size: small;
  border-radius: 0.5em;
  padding: 0.5em;
  text-align: center;
}
.skill-content h2:hover {
  background-color: #42c4c0;
  color: #fefff6;
  border-radius: 0.3em;

  transition: 0.5s;
}

.skill-content img {
  width: 3.8em;
  opacity: 0.3;
  transition: 0.5s;
}

.skill-content img:hover {
  opacity: 1;
}
.skill-content .img-html {
  padding: 0.4em;
}

/* contenido work */

#work {
  padding: 1em;
}
.title-work {
  margin: 0.21em;
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
}

.work-container {
  padding: 2em;
  margin: 0 0.7em;
  background: #fefff6;
  transition: 0.5s;
  cursor: pointer;
  color: #fefff6;
  border-radius: 0.3em;
}
.card-container {
  padding: 1rem;
}
.card-work {
  background: #42c4c0;
  width: 18rem;
}
.card-work .card-title {
  font-weight: bold;
}
.boton-work {
  background-color: #10315c;
  color: #fefff6;
  border-radius: 0.3em;
  font-weight: bold;
}
.boton-work:hover {
  border-radius: 0.3em;
  background-color: #fefff6;
  color: #10315c;
  transition: 0.5s;
}
/* contenido contact */
#contact {
  padding: 1em;
}
.title-contact {
  margin: 0.21em;
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
}
.contact-container {
  margin: 0 0.7em;
  transition: 0.5s;
  cursor: pointer;
  color: #fefff6;
  border-radius: 0.3em;
}
.color-contact {
  border-color: #42c4c0;
  background: #fefff6;
}
.color-contact:hover {
  border-color: #10315c;
}
.contact-container .text-color {
  color: #fefff6;
  font-weight: bold;
}

.boton-contact {
  background-color: #42c4c0;
  color: #fefff6;
  border-radius: 0.3em;
  font-weight: bold;
}
.boton-contact:hover {
  border-radius: 0.3em;
  background-color: #fefff6;
  color: #10315c;
  transition: 0.5s;
}

/* responsive */
@media (max-width: 768px) {
  body {
    padding-top: 70px 20px 0;
  }
  /* header */
  header {
    height: 60px;
  }

  .logo {
    line-height: 60px;
    color: #42c4c0;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    padding: 0 20px;
    line-height: 60px;
  }
  .nav-menu {
    flex-direction: column;
    background-color: #42c4c0;
    align-items: center;

    margin: 0;
    position: fixed;
    left: 0;
    top: 3rem;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 40);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }
  .nav-menu-item {
    line-height: 70px;
  }

  .nav-toggle {
    display: block;
  }
  .nav-menu_visible {
    left: 0;
  }
  .nav-link:hover {
    border-radius: 0.3em;
    background-color: #10315c;
    transition: 0.5s;
  }

  /* contenido main */

  img {
    width: 80%;
  }

  .titulo-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.5em 0.5em;
  }
  .boton-banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenido-boton {
    margin: 0.5em;
    padding: 0.5em;
    align-items: center;
    color: #fefff6;
    text-decoration: none;

    background-color: #42c4c0;
    border-radius: 0.3em;
    font-weight: bold;
  }
}

@media (min-width: 1200px) {
  /* #caracteristicas {
      background-position-x: calc(100vw - 800px);
    } */
  header {
    background-color: #fefff6;
  }
  header nav {
    display: flex;
  }

  .logo {
    color: #10315c;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    padding: 0 10px;
    line-height: 70px;
  }

  .nav-link {
    color: #10315c;
    font-size: 1.2em;
  }
  .nav-link:hover {
    border-radius: 0.3em;
    background-color: #42c4c0;
    color: #fefff6;
    transition: 0.5s;
  }

  /* contenido main */
  .titulo-banner span {
    display: block;
  }

  main {
    padding: 7em;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "h1 img"
      "boton-banner img";
    justify-content: center;
    align-items: center;
  }
  main h1 {
    width: 950px;
    padding: 1em;
    grid-area: h1;
  }

  main img {
    grid-area: img;
  }
  main .boton-banner {
    /* margin-bottom: 3em; */
    grid-area: boton-banner;
  }
  main img {
    width: 20em;
  }

  .titulo-banner {
    font-size: 4em;
  }
  .boton-banner {
    font-size: 1.3em;
  }
  .contenido-boton:hover {
    border-radius: 0.3em;
    background-color: #fefff6;
    color: #10315c;
    transition: 0.5s;
  }

  /* contenido about */

  #about {
    padding: 1em;
  }
  .img-about {
    width: 20%;
  }
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: initial;
  }
  .about-content {
    width: 50%;
  }
  .about-content h2 {
    padding: 1em;
    font-size: 1.5em;
    padding: 0.7em 9.5em;
  }
  .about-content p {
    letter-spacing: 0.1em;
  }

  /* contenido skill */
  #skill {
    padding: 1em;
  }
  .title-skill {
    margin: 0.21em;
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
  }
  .skill-container {
    padding: 2em;
    display: flex;
    justify-content: space-around;
    margin: 0 3em;
    background: #fefff6;
    transition: 0.5s;
    cursor: pointer;
    color: #10315c;
  }
  .skill-content:hover {
    padding: 0 0.5em;
    transition: 0.5s;
  }

  .skill-content h2 {
    border-radius: 0.4em;
    color: #fefff6;
    font-size: 1.5em;
    padding: 0.2em;
    text-align: center;
  }
  .skill-content h2:hover {
    background-color: #42c4c0;
    color: #fefff6;
    border-radius: 0.3em;
    padding: 0 0.3 0em;
    transition: 0.5s;
  }

  .skill-content img {
    width: 14em;
    opacity: 0.3;
    transition: 0.5s;
  }

  .skill-content img:hover {
    opacity: 1;
  }
  .skill-content .img-html {
    padding: 0.8em;
  }

  /* contenido work */

  #work {
    padding: 1em 3em;
  }

  .title-work {
    margin: 0.21em;
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
  }

  .work-container {
    padding: 2em;
    margin: 0 0.7em;
    display: flex;
    background: #fefff6;
    transition: 0.5s;
    cursor: pointer;
    color: #fefff6;
    border-radius: 0.3em;
  }
  .card-container {
    padding: 1rem;
  }
  .card-work {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #42c4c0;
    width: 18rem;
  }
  .card-work .card-title {
    font-weight: bold;
  }

  .boton-work {
    background-color: #10315c;
    color: #fefff6;
    border-radius: 0.3em;
    font-weight: bold;
  }
  .boton-work:hover {
    border-radius: 0.3em;
    background-color: #fefff6;
    color: #10315c;
    transition: 0.5s;
  }

  /* contenido contact */
  #contact {
    padding: 1em;
  }
  .title-contact {
    margin: 0.21em;
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
  }
  .contact-container {
    padding: 0 12em;
  }
  .contact-container form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas:
      "contact-email contact-name"
      " contact-message contact-message"
      " contact-boton contact-boton";
  }
  .contact-container .contact-name {
    /* padding: 0 1em; */
    grid-area: contact-name;
  }
  .contact-container .contact-email {
    grid-area: contact-email;
  }

  .contact-container .contact-message {
    grid-area: contact-message;
  }
  .contact-container .contact-boton {
    /* margin-bottom: 3em; */

    text-align: center;
    grid-area: contact-boton;
  }

  .color-contact {
    border-color: #42c4c0;
    background: #fefff6;
  }
  .color-contact:hover {
    border-color: #10315c;
  }
  .contact-container .text-color {
    color: #fefff6;
    font-weight: bold;
  }

  .boton-contact {
    background-color: #42c4c0;
    color: #fefff6;
    border-radius: 0.3em;
    font-weight: bold;
  }
  .boton-contact:hover {
    border-radius: 0.3em;
    background-color: #fefff6;
    color: #10315c;
    transition: 0.5s;
  }
}
